{
  "plugins": ["unicorn", "eslint-plugin-import-helpers"],
  "extends": ["airbnb-base", "plugin:unicorn/recommended", "prettier"],
  "rules": {
    "no-undef": 0,
    "no-restricted-syntax": 0,
    "class-methods-use-this": 0,
    "no-console": 0,
    "unicorn/prefer-spread": 0,
    "unicorn/filename-case": 0,
    "unicorn/prevent-abbreviations": 0,
    "unicorn/prefer-query-selector": 0,
    "unicorn/prefer-number-properties": 0,
    "unicorn/no-process-exit": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          "module",
          ["/^app/", "/^lib/", "/^config/", "/^src/", "/^ui/"],
          ["/^$/", "/^&/"],
          ["/^@shared/", "/^@app/", "/^@back/", "/^@front/"],
          ["parent", "sibling", "index"]
        ],
        "alphabetize": {
          "order": "ignore",
          "ignoreCase": true
        }
      }
    ]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "legacyDecorators": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  }
}
